# ==============================
# Uvicorn settings
# ==============================
E_PLANNER_BACKEND_RELOAD="False"

# ==============================
# Database settings
# ==============================
E_PLANNER_BACKEND_DB_HOST="localhost"
E_PLANNER_BACKEND_DB_PORT="5432"
E_PLANNER_BACKEND_DB_USER="e_planner_backend"
E_PLANNER_BACKEND_DB_PASS="e_planner_backend"
E_PLANNER_BACKEND_DB_BASE="e_planner_backend"

# ==============================
# Authentication settings
# ==============================
E_PLANNER_BACKEND_AUTH__JWT_ALGORITHM="HS256"
E_PLANNER_BACKEND_AUTH__JWT_SECRET_KEY="super_duper_very_long_safe_random_secret_key_string"
# P7D = 7 days in ISO 8601 duration format
E_PLANNER_BACKEND_AUTH__JWT_EXPIRATION="P7D"
E_PLANNER_BACKEND_AUTH__SECURE_COOKIE="False"

E_PLANNER_BACKEND_CORS_ORIGINS=["http://frontend:3000"]

# ==============================
# Frontend settings
# ==============================
NEXT_PUBLIC_API_URL=http://backend:8000/api
JWT_SECRET=super_duper_very_long_safe_random_secret_key_string
API_DEBUG_LOGS=false
